################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj/Debug
/packages/NLog.4.3.3/lib
/packages/NLog.4.3.4/lib
/NLogDemo.sln.GhostDoc.xml
